body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('photo.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 50px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    text-align: center;
    max-width: 400px;
    width: 90%;
    color: white;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #fff;
}

h2 {
    color: white;
    background-color: rgba(200, 0, 0, 0.5);
    padding: 10px;
    border-radius: 8px;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    margin: 15px 0;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
}

.button {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    background-color: #28a74a;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background-color: #18291c;
    transform: scale(1.05);
}
